/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/config/ldapconfig.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/cryptokey.php
/config/ldapconfig.php
