@font-face {
    font-family: 'Times New Roman';
    src: url('/public/fonts/timesnewroman/TimesNewRomanPS-ItalicMT.eot');
    src: local('Times New Roman Italic'), local('TimesNewRomanPS-ItalicMT'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-ItalicMT.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-ItalicMT.woff') format('woff'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldItalicMT.eot');
    src: local('Times New Roman Bold Italic'), local('TimesNewRomanPS-BoldItalicMT'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldItalicMT.woff') format('woff'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldItalicMT.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/public/fonts/timesnewroman/TimesNewRomanPSMT.eot');
    src: local('Times New Roman'), local('TimesNewRomanPSMT'),
    url('/public/fonts/timesnewroman/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/timesnewroman/TimesNewRomanPSMT.woff') format('woff'),
    url('/public/fonts/timesnewroman/TimesNewRomanPSMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldMT.eot');
    src: local('Times New Roman Bold'), local('TimesNewRomanPS-BoldMT'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldMT.woff') format('woff'),
    url('/public/fonts/timesnewroman/TimesNewRomanPS-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
