$mainFont                : 'Times New Roman', 'Montserrat', Helvetica, Arial, sans-serif;
$mainFontSize            : 1.1em;
$mainFontSizeTable       : 1em;
$mainFontSizePhone       : 0.9em;
$mainBackgroundColor     : #d1d5d9;
$contentBackgroundColor  : #fafafa;
$contentBackgroundColorNewYear  : #fafafade;
$mainColor               : #4d4f50;
$mainColorLink           : #64afff;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
